<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatmeige_SiteMode>
            <version>0.0.1</version>
        </Hatmeige_SiteMode>
    </modules>
    <global>
        <blocks>
            <sitemode>
                <class>Hatmeige_SiteMode_Block</class>
            </sitemode>
        </blocks>
        <helpers>
            <sitemode>
                <class>Hatmeige_SiteMode_Helper</class>
            </sitemode>
        </helpers>
        <models>
            <sitemode>
                <class>Hatmeige_SiteMode_Model</class>
                <resourceModel>sitemode_mysql4</resourceModel>
            </sitemode>
            <sitemode_mysql4>
                <class>Hatmeige_SiteMode_Model_Mysql4</class>
                <entities>
                    <template>
                        <table>sitemode_template</table>
                    </template>
                    <template_store>
                        <table>sitemode_template_store</table>
                    </template_store>
                </entities>
            </sitemode_mysql4>
        </models>
        <resources>
            <sitemode_setup>
                <setup>
                    <module>Hatmeige_SiteMode</module>
                    <class>Hatmeige_SiteMode_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitemode_setup>
            <sitemode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitemode_write>
            <sitemode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitemode_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <sitemode>
                        <type>singleton</type>
                        <class>sitemode/observer</class>
                        <method>setSiteMode</method>
                    </sitemode>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <default>
        <sitemode>
            <general>
                <enabled>1</enabled>
                <current_mode>live</current_mode>
            </general>
            <maintenance>
                <showtimer>1</showtimer>
                <showsubscribe>1</showsubscribe>
                <showsocial>1</showsocial>
            </maintenance>
            <coming>
                <showtimer>1</showtimer>
                <showsubscribe>1</showsubscribe>
                <showsocial>1</showsocial>
            </coming>
        </sitemode>
    </default>
    <frontend>
        <routers>
            <sitemode>
                <use>standard</use>
                <args>
                    <module>Hatmeige_SiteMode</module>
                    <frontName>offline</frontName>
                </args>
            </sitemode>
        </routers>
        <layout>
            <updates>
                <sitemode>
                    <file>hatmeige/sitemode.xml</file>
                </sitemode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hatmeige_sitemode before="Mage_Adminhtml">Hatmeige_SiteMode_Adminhtml</hatmeige_sitemode>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sitemode>
                    <file>hatmeige/sitemode.xml</file>
                </sitemode>
            </updates>
        </layout>
    </adminhtml>
</config>